/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
storage/*.key
.env.*.php
.env.php
.idea

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

